@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}
body {
  background-color: black;
  color: white;
  margin: 0;
}
* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 8px;
}

.status-view {
  height: calc(32px + 5vh);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .status-status {
    color: gray;
    font-size: calc(12px + 2vh);
  }

  .status-time {
    font-size: calc(32px + 2vh);
    .status-time-time {
      font-size: calc(32px + 4vh);
      font-family: 'Menlo', 'Consolas', monospace;
    }
  }
}

.timer-view  {
  margin-bottom: 1.5vh;
  height: calc(32px + 30vh);
  .headline {
    width: 100%;
    text-align: center;
    font-size: calc(24px + 5vh);
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0;
    border-top: 3px solid #353A3F;
    border-bottom: 3px solid #353A3F;
  }

  .timer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .timer-left {
      flex-basis: 20%;
    }
    .timer-status {
      position: relative;
      height: 20vh;
      display: flex;
      align-items: center;
      font-size: calc(12px + 10vh);
      border-radius: 7px;
      margin-top: 1vh;
      margin-bottom: 1vh;
      .timer-status-text {
        width: 100%;
        text-align: center;
      }
      &::before {
        position: absolute;
        z-index: -1;
        content: "";
        border-radius: 7px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    .timer-mean {
      height: 5vh;
      font-size: calc(8px + 3vh);
      text-align: right;
    }

    .timer-display {
      font-size: calc(32px + 20vh);
      font-family: 'Menlo', 'Consolas', monospace;
    }
  }

  .timer-status--show { display: none; }
  &.timer-view_off .timer-status--show-off { display: block; }
  &.timer-view_standby .timer-status--show-standby { display: block; }
  &.timer-view_running .timer-status--show-running { display: block; }
  &.timer-view_overrun .timer-status--show-overrun { display: block; }

  &.timer-view_off .timer-status {
    &::before { background-color: black; }
    color: gray;
  }
  &.timer-view_standby .timer-status {
    font-size: calc((12px + 6vh));
    &::before { background-color: #F6C244; animation: blink 2s 0s infinite; }
    color: black;
  }
  &.timer-view_running .timer-status {
    &::before { background-color: green; }
  }
  &.timer-view_overrun .timer-status {
    &::before { background-color: red; animation: blink 2s 0s infinite; }
  }
  &.timer-view_overrun .timer-display {
    color: red;
  }
}

.message-view {
  position: relative;
  &::before {
    // blink
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4AA0B5;
    opacity: 0;
  }
  &.message-view-blink::before {
    animation: blink 1s 0s infinite;
  }

  overflow: hidden;
  &, & * {
    font-size: calc(40px + 10vh);
  }
  p {
    padding: 0;
    margin: 0;
  }
}


